:root {
	--background-color: #f3f3f3fa;
}

html {
	height: calc(100% - 40px);
	width: 100%;
}

body {
  font-family: "Segoe UI";
	height: 100%;
	margin: 0;
	margin-top: 40px;
}

#root {
	height: 100%;
}
