.titlebar {
	height: 40px;
	background: var(--background-color);
	border-radius: 8px 8px 0 0;
	user-select: none;
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

.titlebar-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-left: 1.2rem;
  font-size: 13px;
}

.titlebar-buttons {
  display: flex;
	justify-content: center;
	align-items: center;
  width: 150px;
  height: 100%;
}

.titlebar-button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
  transition-duration: 200ms;
}

.titlebar-button:last-child {
  border-radius: 0 8px 0 0;
}

.titlebar-button:hover {
	background: #c2c2c2;
}
